body{

}
.screen{
    background-color: mediumpurple;
    align-content: center;
}
.level1-text{
    font-size: 20px;
    text-decoration: none;
}

.level2-text{
    font-size: 10px;
    text-decoration: none;
}
